body {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  background-image: url("https://scontent.fhfa1-1.fna.fbcdn.net/v/t1.6435-9/116837358_10159382381019305_6615201246721686285_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=5r6iZWfQ6UsAX_BtUmx&_nc_ht=scontent.fhfa1-1.fna&oh=00_AfDq9ZsdoThERNdWfYndEOnhxYDvtbry2gKQSDnPT1xUrQ&oe=6624F797") ;
  color: rgb(0, 255, 60);
}


